#tbl-custom table{
    border: 1px solid #000;
}

#tbl-custom .table>thead>tr>th{
    background-color: #747264 !important;
    color: #fff !important;
}


.btn-feature{
    background-color: #E0CCBE !important;
}

.btn-feature:hover{
    background-color: #b89c8a !important;
}

.custom-link-style{
    color: black;
}

.custom-link-style:hover{
    color: black;
}

.btn-in-list {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
}
.btn-in-list:hover {
    background-color: #747264 !important;
    color: #fff !important;
}

.btn-cancel{
    border-color: #747264!important;
    background-color: #747264!important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.page-item {
    margin: 0 5px;
    list-style: none;
}
.page-link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}
.page-link:hover {
    background-color: #F2F2F2;
}
.active .page-link {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
}

#btn-hisu a{
    text-decoration: none !important;
    color: #fff !important;
}

.hisu-cancel{
    color: #fff !important;
    border-color: #747264 !important;
    background-color: #747264 !important;
}
.hisu-cancel:hover{
    color: #fff !important;
    background-color: #5d5b54 !important;
    border-color: #747264 !important;
}

.hisu-confirm{
    border-color: #c77a29 !important;
    color: white !important;
    background-color: #c77a29 !important;
}
.hisu-confirm:hover{
    background-color: #b77632 !important;
    color: white !important;
    border-color: #c77a29 !important;
}